<h1>Editing sort sentence</h1>

<%= render "form", sort_sentence: @sort_sentence %>

<br>

<div>
  <%= link_to "Show this sort sentence", @sort_sentence %> |
  <%= link_to "Back to sort sentences", sort_sentences_path %>
</div>
