<div id="<%= dom_id word %>" style="display: flex;">

  <p>
    <strong>単語:</strong>
    <%= word.word %>
  </p>
  <p>　</p>
  <p>
    <strong>意味:</strong>
    <%= word.mean %>
  </p>
  <p>　</p>
  <p>
    <strong>間違った回数:</strong>
    <%= word.mistake_num %>
  </p>

</div>
