<div id="<%= dom_id selection %>">
  <p>
    <strong>Text:</strong>
    <%= selection.text %>（<%= selection.kana %>）
  </p>

  <p>
    <strong>Main:</strong>
    <%= selection.main_id %>
  </p>

</div>
