<div id="<%= dom_id main %>">
  <p>
    <strong>Subject:</strong>
    <%= main.subject_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= main.question %>
  </p>

  <p>
    <strong>Selection:</strong>
    <%= main.selection_id %>
  </p>

</div>
