<h1>Editing sort unit</h1>

<%= render "form", sort_unit: @sort_unit %>

<br>

<div>
  <%= link_to "Show this sort unit", @sort_unit %> |
  <%= link_to "Back to sort units", sort_units_path %>
</div>
